body {
      background-color: #212528;
}

#a {
      border: 10px solid white;
      border-radius: 5555555px;
}

#a{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 50%;
      height: auto;
}
#b{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 50%;
      height: auto;
}
#c{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 50%;
      height: auto;
}